<ul class="breadcrumbs">
  <li>
    <%= link_to "Chamados", tickets_path %>
  </li>
  <li>
    <%= link_to @ticket.id, @ticket %>
  </li>
  <li>Editar</li>
</ul>
<h1>Editando chamado</h1>
<%= render 'form' %>