<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou um link para trocar sua senha! Poderas fazê-lo, através do link abaixo.</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou a mudança de senha, por favor, ignore o e-mail.</p>
<p>Sua senha não mudara, até que você acesse o link acima, e crie uma nova!</p>